div.alert.media(class="alert-{{notify.type}}", ng-show="notify.show")
  button.close(type="button", ng-click="close();") ×
  a(href="#").pull-left
    //img(src="https://2.gravatar.com/avatar/567a85253d013fe003e63ffb83a31c5a?d=https%3A%2F%2Fidenticons.github.com%2Fee0380d74575c1a7626ed2a3366cdd98.png&r=x&s=440", width="64", height="64", alt="").media-object
  div.media-body
    h4.media-heading {{notify.title}}
    p {{notify.message}}